<?xml version="1.0" encoding="utf-8"?>
<manifest package="name.fanhongtao.ringmode"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="7" />
    
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <receiver android:name=".RingModeWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="NAME.FHT.ACTION.WIDGET.RINGMODE.CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>